.item {
  background-color: #dd2c1c;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  margin: 7px;
}
.itemReserved {
  background-color: grey !important;
  cursor: not-allowed;
  pointer-events: none;
}

.itemVip {
  background-color: #751d1d;
}

.itemSelected {
  background-color: white;
}

.pointerEventsNone {
  pointer-events: none;
}

.itemSelected {
  background-color: #fefffa;
  color: black;
}
